{% extends "reviews/base.html" %}


{% block title %}Your Review{% endblock %}

{% block content %}
    <form action="/" method="POST"> 
    {% comment %} default method is "GET". Post resulted in CSRF error but needed for writing data. Need dynamic token to make work. {% endcomment %}
        {% csrf_token %}

        {% for field in form %}
            <div class="form-control {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <button type="submit">Send</button>
        {% comment %} type "submit" is the default. Could also be "button". Submit sends it to server via Get request. {% endcomment %}
    </form>
{% endblock %}