<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
</head>
<body>
    <form action="/" method="POST"> 
    {% comment %} default method is "GET". Post resulted in CSRF error but needed for writing data. Need dynamic token to make work. {% endcomment %}
        {% csrf_token %}
        {% if has_error %}
            <p>This form is invalid - please enter a valid username!</p>
        {% endif %}
        <label for="username">Your name</label>
        <input id="username" name="username" type="text">
        {% comment %} name field could have different value. Does not have to be "username" {% endcomment %}
        <button type="submit">Send</button>
        {% comment %} type "submit" is the default. Could also be "button". Submit sends it to server via Get request. {% endcomment %}
    </form>
</body>
</html>